*{
    margin: 0px;
}

#bgImg{
    position: relative;
    height: 80vh;
    width: 100%;
    opacity: 70%;   
}

.mainHeading{
    color: white;
    position: absolute;
    top: 220px;
    left: 300px;
    font-size: 5rem;
    font-family: 'Great Vibes', 'cursive';
}

.Search{
    position: absolute;
    top: 320px;
    left: 350px;
    border: 2px solid black;
}

#bInput{
    width: 700px;
    padding: 8px 8px;
    border: 0px;
}

.searchIcon{
    color: black;
    background-color: white;
    top: -2px;
    padding: 7.5px 8px;
    background-color: bisque;
    position: absolute;
    border: 2px solid black;
}

.searchIcon:hover{
    cursor: pointer;
}

.mainContent{
    margin-top: -5px;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    justify-content: space-between;
    align-items: center;
    background-color: #F2FEDC;
}

.bInfo{
    padding: 12px 4px;
    margin: 40px 0px;
    margin-left: 50px;
    margin-right: 50px;
    border: 4px solid black;
    height: 320px;
    width: 280px;
    border-radius: 12px;
    background-color: white;
}

.sInfo{
    text-align: center;
    margin-top: 10px;
}

.bookCover{
    height: 200px;
    display: block;
    align-content: center;
    margin: 0 auto;
}

.bookName{
    width: 280px;
}

.price{
    margin-top: 10px;
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid black;
    background-color: #006E5F;
    color: white;
    border-radius: 5px;
    width: 80px;
}

.bInfo:hover{
    transform: scale(0.8);
    cursor: pointer;
}

.overview{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
}

.inner-overview{
    background : white;
    width: 700px;
    height: 450px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.2rem;
}

.inner-overview .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: transparent;
}

.inner-overview .inner-box{
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
}

.inner-overview .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.inner-overview .inner-box h3{
    margin-top: 10px;
    color: green;
}

.inner-overview .inner-box h4{
    color: blue;
}

.inner-overview .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #A1795C;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

.inner-overview .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}

.inner-box button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.quote{
    margin: 20px;
    font-size: 3.2rem;
    text-align: center;
    font-family: 'Great Vibes', 'cursive';
    color: #43655A;
}

footer{
    position: fixed;
    right: 10px;
    bottom: 0px;
}

@media screen and (max-width: 600px) {

    .quote{
        font-size: 2rem;
    }

    #bgImg{
        overflow: hidden;
        height: 40vh;
    }
    
    .mainHeading{
        font-size: 2.5rem;
        top: 100px;
        left: 30px;
        text-align: center;
    }

    .Search{
        top: 220px;
        left: 75px;
    }

    #bInput{
        width: 200px;
    }

    .mainContent{
        justify-content: center;
    }

    footer{
        position: fixed;
        right: 40px;
        bottom: 0px;
    }

    .bInfo:hover{
        transform: none;
    }

    .inner-box button:hover{
        cursor: pointer;
        transform: none;
    }

}

